*.code-workspace
*.egg-info
__pycache__/
theory/
*.pt 
src/mldec/pipelines/tune_results
src/mldec/pipelines/train_results
src/mldec/tune_results
src/mldec/pipelines/temp
.venv
.vscode
.DS_Store
src/.DS_Store